[alias]
  st           = status
  ci           = commit
  co           = checkout
  put          = push origin head
  fixup        = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash       = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  ri           = rebase --interactive
  logg         = log --graph --decorate --pretty=oneline --abbrev-commit --all
  undo-commit  = reset --soft HEAD^
  d            = difftool
  empty        = commit --allow-empty
  bump-version = commit --allow-empty
  amend        = commit --amend

[branch]
  autosetuprebase = always

[color]
  ui = auto

[core]
  excludesfile = ~/.gitignore_global
  editor       = /usr/local/bin/vim
  whitespace   = warn
  quotepath    = false

[diff]
	tool = vimdiff

[difftool]
	prompt = true

[help]
  autocorrect = 10

[merge]
  summary = true
	tool = vimdiff

[push]
  default = tracking

[rebase]
  autosquash = true

[filter "media"]
  clean  = git-media-clean %f
  smudge = git-media-smudge %f

[http]
  sslVerify = true

